html,body{
    margin: 0;
    padding: 0;
}

body {
    background-color: #e5f0d0;
    font-family: "游ゴシック","Yu Gothic","Tsukushi A Round Gothic","筑紫A丸ゴシック";
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 35px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 25px;
}

p, a {
    font-size: 20px;
}

.top {
    text-align: center;
    padding: 10px 0 0 0;
}

.myself {
    display: flex;
    padding: 0 0 10px 0;
    justify-content: center; 
}

@media (max-width: 480px){
    .myself {
        display: block;
    }
}

.myself img {
    width: 40%;
    padding: 0 20px 0 0;
}

.left {
    top: 0;
    bottom: auto;
    margin: auto 0;
}

.left p {
    line-height: 40px;
}

.likes h2 {
    text-align: center;
}

ul {
    list-style: none;
    padding-left: 0;
}

.music {
    text-align: center;
    padding: 20px 0;
}

.ul_music {
    /* box-sizing: border-box; */
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.ul_music li {
    padding: 0 10px;
    margin: 0 auto;
}

.person {
    text-align: center;
    padding: 40px 0;
}

.hana {
    display: flex;
    padding: 20px 0;
    justify-content: center;
}

@media (max-width: 480px){
    .hana {
        display: block;
    }
}

.right {
    top: 0;
    bottom: auto;
    margin: auto 0;
    padding: 0 45px;
}

.right h4 {
    font-size: 30px;
    font-weight: bold;
    display: block;
    text-align: left;
}


.right p {
    text-align: left;
    line-height: 40px;
}


.right a {
    text-decoration: none;
    color: rgb(127, 127, 127);
    font-size: 15px;
}